# Python
__pycache__/
*.py[cod]
*$py.class
*.so

# Virtual environments
venv/
env/
.venv/

# ANTLR cache
.antlr/

# IDE
.vscode/
.idea/
*.swp
*.swo

# OS
**/.DS_Store
.DS_Store
Thumbs.db

# Logs / output
*.log
errores.log

# Coverage / cache
.pytest_cache/
.coverage
htmlcov/

